BACKUP_LOCATION=d:\data\paperless\backup
DATA_LOCATION=d:\data\paperless\data
MEDIA_LOCATION=d:\data\paperless\media
EXPORT_LOCATION=d:\data\paperless\export
CONSUME_LOCATION=d:\data\paperless\consume