# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# The location where your uploaded files are stored
TRILIUM_DATA_DIR=/data/trillium
BASE_DOMAIN=
DNS_SERVER=
